/* დავალება 8.5 */
#btns{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: grey;
    border: none;
    border-radius: 10px;
}
#btns button{
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
#btn1{
    background-color: hsl(0, 100%, 60%);
}

#btn2{
    background-color: hsl(120, 100%, 25%);
}
#btn3{
    background-color: hsl(240, 100%, 60%);
}

#btn1:hover{
    background-color: hsl(0, 100%, 70%);;
}

#btn2:hover{
    background-color: hsl(120, 100%, 35%);
}

#btn3:hover{
    background-color: hsl(240, 100%, 70%);
}

#btn1:active{
    background-color: hsl(0, 100%, 80%);;
}

#btn2:active{
    background-color: hsl(120, 100%, 45%);
}

#btn3:active{
    background-color: hsl(240, 100%, 80%);
}